body {
    background-color: #996633;
}
#gameholder {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#title {
    width: 600px;
    height: 150px;
    background-image:url('');
}

.penguin1 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('https://pixabay.com/static/uploads/photo/2014/12/22/00/01/dirt-576619_960_720.png');
}