body {
    background-color: #ccf5f5;
}
#gameholder {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/*#title {
    width: 600px;
    height: 150px;
    background-image:url('');
}*/

.penguin1:hover, .penguin2:hover, .penguin3:hover, .penguin4:hover, .penguin5:hover, 
.penguin6:hover, .penguin7:hover, .penguin8:hover, .yeti:hover {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Question_Mark.svg/2000px-Question_Mark.svg.png');
    cursor: pointer;
}

.penguin1:active {
    background-image: url('https://bcw.blob.core.windows.net/public/img/penguins/img/penguin_1.png')
}
.penguin2:active {
    background-image: url('https://bcw.blob.core.windows.net/public/img/penguins/img/penguin_2.png')
} 
.penguin3:active {
    background-image: url('https://bcw.blob.core.windows.net/public/img/penguins/img/penguin_3.png')
}
.penguin4:active {
    background-image: url('https://bcw.blob.core.windows.net/public/img/penguins/img/penguin_4.png')
}
.penguin5:active {
    background-image: url('https://bcw.blob.core.windows.net/public/img/penguins/img/penguin_5.png')
} 
.penguin6:active {
background-image: url('https://bcw.blob.core.windows.net/public/img/penguins/img/penguin_6.png')
}
.penguin7:active {
    background-image: url('https://bcw.blob.core.windows.net/public/img/penguins/img/penguin_7.png')
} 
.penguin8:active {
    background-image: url('https://bcw.blob.core.windows.net/public/img/penguins/img/penguin_8.png')
}
.yeti:active {
    background-image: url('https://bcw.blob.core.windows.net/public/img/penguins/img/yeti.png')
}

.penguin1, .penguin2, .penguin3, .penguin4, .penguin5, .penguin6, .penguin7, .penguin8, .yeti {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('http://res.freestockphotos.biz/pictures/15/15938-illustration-of-a-small-cartoon-mountain-pv.png');
    background-size: 200px;
    background-repeat: no-repeat;
}

.penguin2, .penguin3, .penguin5, .penguin6, .penguin8, .yeti {
    margin-left: 100px;
}
